* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #1e2939;
  --light-blue: #e5e5e5;
  --nav-height: 60px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--nav-height) + 20px);
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2,
h3 {
  color: #262626;
  font-size: 1.5rem;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #a6a09b;
}

body {
  background-color: #f4f4f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--nav-height);
}

nav {
  height: var(--nav-height);
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

nav a {
  padding: 10px 20px;
  font-weight: 600;
  border: 1px solid var(--dark-blue);
}

nav a:hover {
  border: 1px solid white;
  border-radius: 5px;
}

main {
  padding: 20px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main section {
  padding: 20px;
  background-color: white;
  width: 60vw;
  min-width: 700px;
  border-radius: 5px;
}

main section h2 {
  margin-bottom: 20px;
}

main #about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#dashboard .boxes {
  display: flex;
  gap: 20px;
}

#dashboard .boxes div {
  flex: 1 1 auto;
  padding: 30px 0;
  background-color: var(--light-blue);
  color: #737373;
  text-align: center;
}

#dashboard .boxes div .value {
  font-size: 1.5rem;
  color: #18181b;
}

#records {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#records .title-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

#records .title-header div {
  display: flex;
  gap: 10px;
}

#records .filter {
  display: flex;
  gap: 30px;
  align-items: start;
}

#records .search {
  flex: 1 1 auto;
}

#records .filter .sort {
  font-weight: 600;
  display: flex;
  gap: 10px;
  white-space: nowrap;
  transform: translateY(10px);
}

/* record item styling */
#records h2 {
  margin-bottom: 0px;
}

#records .table .header {
  padding: 15px 10px !important;
  background-color: var(--light-blue);
  font-weight: 600;
}

#records .table .record {
  display: grid;
  padding: 10px;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  border-bottom: 1px solid #d4d4d4;
}

#records .table > * ::first-letter {
  text-transform: capitalize;
}

#records .table .actions {
  display: flex;
  gap: 10px;
}

#records .actions #delete {
  background-color: #fb2c36;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* approach h2 above */
  margin-top: -10px;
}

main form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main form button {
  background-color: #2b7fff;
  color: white;
  width: fit-content;
}

#settings div h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#settings .currencies {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

#settings .currencies div {
  display: flex;
  align-items: center;
  gap: 7px;
}

#settings .currencies label {
  white-space: nowrap;
}

footer {
  padding: 15px;
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
}
